*

!.gitignore

!hypr
!hypr/*
!hypr/conf/*
hypr/conf/monitors.conf

!nvim
!nvim/*
!nvim/after/*
!nvim/after/plugin/*
!nvim/lua/*
!nvim/lua/plugins/*

!kitty
!kitty/*
!kitty/wallpapers/*

!waybar
!waybar/config.jsonc
