*

!.gitignore

!hypr
!hypr/*
!hypr/conf/*

!nvim
!nvim/*
!nvim/after/*
!nvim/after/plugin/*
!nvim/lua/*
!nvim/lua/plugins/*

!kitty
!kitty/*
!kitty/wallpapers/*

!qt6ct
!qt6ct/qt6ct.conf

!waybar
!waybar/config.jsonc
